<div class="form-title">
    <h4>Contact Information</h4>
    <hr/>
</div>

{% if is_change_profile %}
    <div>
        <br />
        <h2>Address:</h2>

        Please update in the <a href="{% url 'rx_client_dashboard_account_management' %}">Account Management</a> section.
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label" for="wealthbot_client_bundle_profile_type_email">Email</label>
                {{ form.email.errors }}
                {{ form.email }}
            </div>
        </div>
    </div>

{% else %}
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label" for="wealthbot_client_bundle_profile_type_street">Street</label>
                {{ form.street.errors }}
                {{ form.street }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label" for="wealthbot_client_bundle_profile_type_city">City</label>
                {{ form.city.errors }}
                {{ form.city }}
            </div>
        </div>
        {% comment %}
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label" for="  wealthbot_client_bundle_profile_type_state">State</label>
                    {{ form.state.errors }}
                    {{ form.state }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label" for="  wealthbot_client_bundle_profile_type_zip">Zip Code</label>
                    {{ form.zip.errors }}
                    {{ form.zip }}
                </div>
            </div>
        {% endcomment %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="wealthbot_client_bundle_profile_type_is_different_address">Is your mailing address different than the address above?</label>
                {{ form.is_different_address.errors }}
                {{ form.is_different_address }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 mailing-address">
            <div class="form-group mailing-address-block" style="display:none;">
                <div class="col-md-12">
                    <label class="control-label" for="wealthbot_client_bundle_profile_type_mailing_street">Mailing Street</label>
                    {{ form.mailing_street.errors }}
                    {{ form.mailing_street }}
                </div>
                <div class="col-md-2">
                    <label class="control-label" for="wealthbot_client_bundle_profile_type_mailing_city">Mailing City</label>
                    {{ form.mailing_city.errors }}
                    {{ form.mailing_city }}
                </div>
                {% comment %}
                    <div class="col-md-2">
                        <label class="control-label" for="  wealthbot_client_bundle_profile_type_mailingState">Mailing State</    label>
                        {{ form.mailingState.errors }}
                        {{ form.mailingState }}
                    </div>
                    <div class="col-md-2">
                        <label class="control-label" for="  wealthbot_client_bundle_profile_type_mailing_zip">Mailing Zip Code    </label>
                        {{ form.mailing_zip.errors }}
                        {{ form.mailing_zip }}
                    </div>
                {% endcomment %}
            </div>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label" for="wealthbot_client_bundle_profile_type_phone_number">Phone Number</label>
            {{ form.phone_number.errors }}
            {{ form.phone_number }}
        </div>
    </div>
</div>