{{ form.errors }}

<div class="form-group">
    {{ form.first_name.label_tag }}
    <div>
        {{ form.first_name.errors }}
        {{ form.first_name }}
    </div>
</div>

<div class="form-group">
    {{ form.last_name.label_tag }}
    <div>
        {{ form.last_name.errors }}
        {{ form.last_name }}
    </div>
</div>

<div class="form-group">
    {{ form.email.label_tag }}
    <div>
        {{ form.email.errors }}
        {{ form.email }}
    </div>
</div>

<div class="form-group">
    {{ form.groups.label_tag }}
    <div>
        {{ form.groups.errors }}
        {{ form.groups }}
    </div>
</div>

<div class="form-group">
    {{ form.type.label_tag }}
    <div>
        {{ form.type.errors }}
        {{ form.type }}
    </div>
</div>


<input class="btn btn-default"  type="submit" value="Send Invite">
